<!DOCTYPE html>
<html>
  <head>
    <title>My page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My page</h1>
    <p>Welcome to my page </p>
    <p><a href="/">Home</a></p>
    <p><a href="/login">Login</a></p>
    <p><a href="/crash">Crash</a></p>
    
  </body>
</html>
